@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./variables.scss";

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    // max-width: 100%;
}
.app{
    max-width: 99.1% !important;
}

.upper-page{
    width: 100%;
    height: 70vh;
    background-color: $first-color;
}
